:root{
    --red: #CD1111;
}
@keyframes slideUp {
    from {top: 300px; opacity: 0;}
    to {top: 0px; opacity: 1;}

}
@keyframes showIn {
    from{opacity:0; top: 100px;}
    to{opacity:1; top: 0px;}
}
.contact-me{
    color:  white;
    font-size: clamp(30px, 10vw, 100px);
    text-shadow: 4px 4px black;
    margin: 200px 0 100px;
    padding: 0;
    position: relative;
    width: fit-content;
    left: 10%;
    

}
.activeSlide{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
main{
    padding: 0;
}
.showIn{
    position: relative;
}
article{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5%;
    padding: 5%;
}
.nameofcontact{
    color: white;
}
.cont-line{
    font-size: clamp(12px, 2vw, 20px);
    font-family: 'Ubuntu', sans-serif;
}
.contact-sect{
    padding-bottom: 20vh;
    width: 100vw;

}

.articleofcontact{
    background: rgba(255, 0, 0, 0.437);
    border-radius: 0px 20px 20px 20px;
    padding: 20px;
    box-shadow: 7px 7px 5px rgb(0, 0, 0);
    position: relative;
}
.articleofcontact:hover{
    background: rgba(255, 0, 0, 0.599);
    transition: 0.25s;
}

.showIn:nth-child(1){
    animation-name: showIn;
    animation-duration: 0.5s;
}
.showIn:nth-child(2){
    animation-name: showIn;
    animation-duration: 0.60s;
}
.showIn:nth-child(3){
    animation-name: showIn;
    animation-duration: 0.70s;
}
.showIn:nth-child(4){
    animation-name: showIn;
    animation-duration: 0.80s;
}
.showIn:nth-child(5){
    animation-name: showIn;
    animation-duration: 0.90s;
}
.showIn:nth-child(6){
    animation-name: showIn;
    animation-duration: 1s;
}
.showIn:nth-child(7){
    animation-name: showIn;
    animation-duration: 1.10s;
}
.showIn:nth-child(8){
    animation-name: showIn;
    animation-duration: 1.20s;
}
.showIn:nth-child(9){
    animation-name: showIn;
    animation-duration: 1.30s;
}
.showIn:nth-child(10){
    animation-name: showIn;
    animation-duration: 1.40s;
}
.showIn:nth-child(11){
    animation-name: showIn;
    animation-duration: 1.50s;
}
.showIn:nth-child(12){
    animation-name: showIn;
    animation-duration: 1.60s;
    color: var(--red);
}
.showIn:nth-child(13){
    animation-name: showIn;
    animation-duration: 1.70s;
    color: var(--red);
}
.showIn:nth-child(14){
    animation-name: showIn;
    animation-duration: 1.80s;
    color: var(--red);
}

@media screen and (max-width:800px) {
    article{
        grid-template-columns: auto auto;
        gap: 50px;
    }
}
@media screen and (max-width:500px) {
    article{
        grid-template-columns: auto;

    }
    .cont-line{
        font-size: clamp(17px, 5vw, 23px);
    }
    .nameofcontact{
        font-size: clamp(25px, 10vw, 35px)
    }
}